# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

*.db
*.sqlite3
.bundle/*
log/*
*.swp
*.swo
.env
logs/*
cache

output/